.wf-modal {
    z-index: 2003;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.wf-animate-bottom {
    position: relative;
    animation: animatebottom 0.3s
}
@keyframes animatebottom {from{bottom:-100px;opacity:0} to{bottom:0;opacity:1}}

.wf-modal-content {
    margin: auto;
    /*background-color: #fff;*/
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

.wf-modal-container {
    padding: 3px 16px;
}
header.wf-modal-container {
    padding: 16px 16px 3px 16px;
}
footer.wf-modal-container {
    padding: 16px 3px 16px 16px;
}

.wf-modal-button {
    font-size: 18px !important;
    
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.wf-modal-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}
.display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.wf-modal-grey {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}