html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	background-repeat:no-repeat;
	background-size:contain;
	content:"";
	display:inline-block;
	height:1.5em;
	width:1.5em;
	line-height:1;
	margin-left:5px;
	position:relative;
	top:6px;
}

a.asc:after {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23007bff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 3a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10A.5.5 0 0 1 3 3z'/><path fill-rule='evenodd' d='M5.354 11.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L3 12.793l1.646-1.647a.5.5 0 0 1 .708 0zM7 6.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5zm0 3a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5zm0 3a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm0-9a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0-.5.5z'/></svg>");
}

a.desc:after {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23007bff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 2a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10A.5.5 0 0 1 3 2z'/><path fill-rule='evenodd' d='M5.354 10.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L3 11.793l1.646-1.647a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 9a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z'/></svg>");
}


.grid-view td {
    white-space: nowrap;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* @version 1.0 */
figure {
  position: relative;
  overflow: hidden;
}

figure.selected::after {
  content:attr(rate-id);
  background-color: rgba(0,0,0,0.6);
  font-size: 10em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  box-shadow: 0 0 0 10000px rgba(0,0,0,0.6);
}

body {
	background: #999999;
	background-size: cover !important;
    color: white;
}

.btn-lg {
    margin-left:15px;
    margin-right:15px;
}

.imgbtn {
  text-align:center;
  background-size: cover;
}
/* @version 1.0 */

.card {
	color: black;
}

.btn3d.btn-primary {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}
.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}

.btn3d.btn-danger {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #D73814;
}
.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #D73814;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .form-control:valid, .form-control.is_valid {
	background-position: right calc(1.0em + 0.1875rem) center;
}

img.qr-code {
	border-radius: 10px !important;
	width: 220px;
	height: 220px;
	background-image: attr(super-src);
}

div.qr-code {
	box-shadow: 0 0 0 6px #007bff;
	border-radius: 10px !important;
	position: relative;
	width: 220px;
	height: 220px;
}

div.qr-code::before {
    content:'Link with token';
	position: absolute;
    width: 160px;
    height: 60px;
	left: 100%;
	top: 50%;
	margin-top: -30px; /* 1/2 of height */
    border-radius: 0 10px 10px 0;
    background: #007bff;
	display: flex;
	align-items:center;
	justify-content:center;
}
div.qr-code::after {
    content:'';
	position: absolute;
    width: 36px;
    height: 36px;
	left:100%;
	top: 50%;
	margin-left: -18px; /* 1/2 of width */
	margin-top: -18px; /* 1/2 of height */
    border-radius: 0 0 7px 0;
    transform: rotate(-45deg);
    background: linear-gradient(-45deg, white 50%, transparent 50%);
}

.navbar .dropdown-menu {
  background-color: #343a40;
}

.hide-when-active.active {
	display: none;
}

.hide-when-active:not(.active) {
	display: block;
}

.hover-overflow-x {
	max-width: 300px;
	overflow-x: auto;
	visibility: hidden;
}

.hover-overflow-x-content, .hover-overflow-x:hover, td:hover div.hover-overflow-x, .hover-overflow-x:focus, td:focus .hover-overflow-x {
	visibility: visible;
}

table.hide-2 tr > th:nth-child(2), table.hide-2 tr > td:nth-child(2) {
	max-width: 0px !important;
	overflow-x: hidden !important;
	border: 0px !important;
}

.bi {
	font-size: 2em;
}

.wf-animate-top_to_bottom {
    position: relative;
    animation: animatetoptobottom 2s;
}
@keyframes animatetoptobottom {from{top:0;opacity:0} to{top:0;opacity:1}}
.wf-animate-left_to_right {
    position: relative;
    animation: animatelefttoright 1s;
}
@keyframes animatelefttoright {from{left:-100px;opacity:0} to{left:0;opacity:1}}
.wf-animate-right_to_left {
    position: relative;
    animation: animaterighttoleft 1s;
}
@keyframes animaterighttoleft {from{right:-100px;opacity:0} to{right:0;opacity:1}}

@keyframes animatebottomtotop {from{bottom:-50px;opacity:0} to{bottom:0;opacity:1}}
.wf-animate-bottom_to_top1 {
    position: relative;
    animation: animatebottomtotop 1s;
}
.wf-animate-bottom_to_top2 {
    position: relative;
    animation-name: animatebottomtotop;
    animation-duration: 1.5s;
}
.wf-animate-bottom_to_top3 {
    position: relative;
    animation-name: animatebottomtotop;
    animation-duration: 2s;
}
.wf-animate-bottom_to_top4 {
    position: relative;
    animation-name: animatebottomtotop;
    animation-duration: 2.25s;
}
.wf-animate-bottom_to_top5 {
    position: relative;
    animation-name: animatebottomtotop;
    animation-duration: 2.5s;
}

.wf_smile {
    animation-delay: 3s;
    animation-name: animate_wf_smile;
    animation-duration: 0.5s;
}
@keyframes animate_wf_smile {
    0% {filter: brightness(1);}
    15% {filter: brightness(1.6);}
    35% {filter: brightness(1);}
    55% {filter: brightness(1.6);}
    75% {filter: brightness(1);}
    100% {filter: brightness(1);}
}

#form-test-person label {
    min-height: 48px;
    height: 48px;
    display: table-cell;
    vertical-align: bottom;
}

tbody {
    color: gray;
}